{% load static %}
{% load static tailwind_tags %}


<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Farmer Market</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% tailwind_css %}
        
        <style>{% block styles %}{% endblock styles %}</style>
          
	</head>

	<body class="bg-gray-50 font-serif leading-normal tracking-normal max-h-[80vh]">
        <header class="bg-white shadow-md">
            <div class="container mx-auto px-4 py-4 flex justify-between items-center">
              <a href="/"><h1 class="text-2xl font-bold text-gray-800 bg-green-600 p-3 rounded">Framer Market</h1></a>
              {% if request.user.is_authenticated %}

              <h1 class="text-2xl font-bold text-gray-800">User: {{request.user.username}}</h1>
              {% endif %}

              <nav class="flex justify-end p-4 bg-white shadow-md">
                {% if request.user.is_authenticated %}
                {% if identify_farmer %}
                <a href="/dashboard/" class="text-gray-600 hover:text-gray-800 ml-4 bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded">DashBoard</a>
                  
                {% endif %}
                    <a href="/history/" class="text-gray-600 hover:text-gray-800 ml-4 bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded">History</a>
                    <a href="/auth/logout" class="text-gray-600 hover:text-gray-800 ml-4 bg-orange-500 hover:bg-orange-600 text-white font-bold py-2 px-4 rounded">Log Out</a>
                    <a href="/cart" class="flex items-center text-gray-700 hover:text-gray-900 relative ml-4">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13L6 16m1 0h10m-5 0v2m-2 2h2m2-2h-2m2 0h-2m0-4v2m0-4h2m-2 0h-2" />
                        </svg>
                        <span class="ml-2">Cart</span>
                        <span class="cart-count bg-red-500 text-white rounded-full w-5 h-5 flex items-center justify-center text-xs absolute top-0 right-0 transform translate-x-3 -translate-y-3">
                            {% if total_items_num %} {{ total_items_num }} {% else %} 0 {% endif %}
                        </span>
                    </a>
                {% else %}
                    <a href="/auth/login/" class="text-gray-600 hover:text-gray-800 ml-4 bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">Login</a>
                    <a href="/auth/signup/" class="text-gray-600 hover:text-gray-800 ml-4 bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded">Signup</a>
                {% endif %}
            </nav>
            </div>
        </header>

        {% block content %}
          
        {% endblock content %}

        <footer class="bg-white shadow-md mt-8">
            <div class="container mx-auto px-4 py-4 text-center">
              <p class="text-gray-600">&copy; 2024 My E-commerce. All rights reserved.</p>
            </div>
        </footer>

        {% block scripts %}
        {% endblock scripts %}
	</body>
</html>
